# Ejemplo de configuración de entorno para backend

# Puerto del servidor
PORT=4000

# URI de conexión a MongoDB (local o Atlas)
MONGO_URI=mongodb://localhost:27017/heladeria-frigo
# MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/heladeria-frigo

# Secreto para JWT
JWT_SECRET=tu_clave_super_secreta

# Entorno (development o production)
NODE_ENV=development
